:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 75%);
  --gray: hsl(0, 0%, 50%);
  --dark-gray: hsl(0, 0%, 18%);
  --black: hsl(0, 0%, 10%);
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--black);
  color: var(--white);
}

button {
  background-color: var(--dark-gray);
  color: var(--white);
  border: none;
  padding: 0.8rem;
  min-width: 14rem;
  border-radius: 0.4rem;
}
